<div class="main">
  <div *ngIf="!placingOrder && cart.items.length > 0" class="page-title">Review your order</div>
  <div *ngIf="!placingOrder && !(cart.items.length > 0)" class="page-title">Empty Cart</div>

  <div *ngIf="!placingOrder  && cart.items.length > 0" class="checkout-grid">
    <div class="order-summary js-order-summary">
      <div class="cart-item-container" *ngFor="let item of cart.items">
        <div class="delivery-date">
          {{ item.deliveryDate }}
        </div>

        <div class="cart-item-details-grid">
          <img [src]="(item.product.image_url && item.product.image_url.length > 0) ? (staticUrl + 'images/products/' + item.product.image_url) : 'https://via.placeholder.com/150'" class="product-image">

          <div class="cart-item-details">
            <div class="product-name">
              {{ item.product.name }}
            </div>
            <div class="product-price">
              ${{ formatCurrency(item.product.price) }}
            </div>
            <div class="product-quantity">
              <div *ngIf="!(isEditingQuantity[item.product.id] === true)">
                <span>
                  Quantity: <span class="quantity-label">{{ item.quantity }}</span>
                </span>
                <span class="update-quantity-link link-primary" (click)="showEditItemQuantityForm(item.product.id)">
                  Update
                </span>
                <span class="delete-quantity-link link-primary" (click)="removeFromCart(item.product)">
                  Delete
                </span>
              </div>

              <div *ngIf="isEditingQuantity[item.product.id] === true">
                <input
                type="number" min="1"
                class="quantity-input"
                [(ngModel)]="selectedItem[item.product.id].quantity"
                >
                <span
                  class="save-quantity-link link-primary"
                  (click)="updateCartItem(selectedItem[item.product.id])"
                  >
                  Save
                </span>
              </div>
            </div>
          </div>

          <div class="delivery-options">
            <div class="delivery-options-title">
              Choose a delivery option:
            </div>
            <div class="delivery-option">
              <input type="radio"
                [checked]="item.deliveryDate === deliveryDate3"
                class="delivery-option-input"
                name="delivery-option-{{ item.product.id }}"
                value="date:{{ deliveryDate3 }},cost: 0"
                (click)="setDeliveryDate(item.product.id, 7, 0)"
              >
              <div>
                <div class="delivery-option-date">
                  {{ deliveryDate3 }}
                </div>
                <div class="delivery-option-price">
                  FREE Shipping
                </div>
              </div>
            </div>
            <div class="delivery-option">
              <input type="radio"
                [checked]="item.deliveryDate === deliveryDate2"
                class="delivery-option-input"
                name="delivery-option-{{ item.product.id }}"
                value="date:{{ deliveryDate2 }},cost:5"
                (click)="setDeliveryDate(item.product.id, 3, 5)"
              >
              <div>
                <div class="delivery-option-date">
                  {{ deliveryDate2 }}
                </div>
                <div class="delivery-option-price">
                  $5 - Shipping
                </div>
              </div>
            </div>
            <div class="delivery-option">
              <input type="radio"
                [checked]="item.deliveryDate === deliveryDate1"
                class="delivery-option-input"
                name="delivery-option-{{ item.product.id }}"
                value="date:{{ deliveryDate1 }},cost:9.99"
                (click)="setDeliveryDate(item.product.id, 1, 10)"
              >
              <div>
                <div class="delivery-option-date">
                  {{ deliveryDate1 }}
                </div>
                <div class="delivery-option-price">
                  $10 - Shipping
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="payment-summary">
      <div class="payment-summary-title">
        Order Summary
        </div>

        <div class="payment-summary-row">
        <div class="js-items-quantity">Items ({{ totalCartItems }}):</div>
        <div class="payment-summary-money">${{ formatCurrency(totalCartCost) }}</div>
        </div>

        <div class="payment-summary-row">
          <div>Shipping &amp; handling:</div>
          <div class="payment-summary-money">${{ formatCurrency(totalShiping) }}</div>
        </div>

        <div class="payment-summary-row subtotal-row">
          <div>Total before tax:</div>
          <div class="payment-summary-money">
            ${{ formatCurrency(totalCartCost + totalShiping) }}
          </div>
        </div>

        <div class="payment-summary-row">
          <div>Estimated tax (10%):</div>
          <div class="payment-summary-money">
            ${{ formatCurrency((totalCartCost + totalShiping) * 0.1) }}
          </div>
        </div>

        <div class="payment-summary-row total-row">
          <div>Order total:</div>
            <div class="payment-summary-money">
              ${{ formatCurrency(totalCartCostTx) }}
            </div>
          </div>
          <p *ngIf="reqIssue" class="text-danger">{{ reqIssueMessage }}</p>
        <button (click)="showPlacingOrderForm()" class="place-order-button button-primary"> Place your order </button>
    </div>
  </div>

  <div *ngIf="placingOrder" class="credit-card-form">
    <div class="page-title">Enter Credit Card Information</div>

    <form (ngSubmit)="submitCreditCardForm()" #creditCardForm="ngForm">
      <div>
        <label for="cardNumber">Card Number:</label>
        <input type="text" id="cardNumber" name="cardNumber" [(ngModel)]="creditCard.cardNumber" required (ngModelChange)="checkCardNumber()">
        <div *ngIf="!validCN && creditCard.cardNumber" class="text-danger">Invalid card number</div>
      </div>

      <div>
          <label for="expiryDate">Expiry Date:</label>
          <input type="text" id="expiryDate" name="expiryDate" [(ngModel)]="creditCard.expiryDate" required (ngModelChange)="checkExpiry()">
          <div *ngIf="!validCEXP && creditCard.expiryDate" class="text-danger">Invalid expiry date</div>
      </div>

      <div>
          <label for="cvv">CVV:</label>
          <input type="text" id="cvv" name="cvv" [(ngModel)]="creditCard.cvv" required (ngModelChange)="checkCvv()">
          <div *ngIf="!validCVV && creditCard.cvv" class="text-danger">Invalid CVV</div>
      </div>

      <button type="submit" [disabled]="creditCardForm.invalid">Submit Payment</button>
    </form>
    <p *ngIf="reqSuccess" class="text-success">{{ reqSuccessMessage }}</p>
    <p *ngIf="reqIssue" class="text-danger">{{ reqIssueMessage }}</p>
    <button (click)="hidePlacingOrderForm()">Cancel</button>
</div>
</div>
