/* body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 1%;
  padding-right: 1%;
}

.logo span {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ddd;
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.connected-user {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.connected-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
}

.connected-user span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
} */

.my-app-header {
  background-color: rgb(19, 25, 33);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.my-app-header-left-section {
  width: 180px;
}

@media (max-width: 800px) {
  .my-app-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.my-app-logo {
  width: 100px;
  height: 51px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}

.my-app-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .my-app-logo {
    display: none;
  }

  .my-app-mobile-logo {
    display: block;
    height: 50px;
    margin-top: 5px;
  }
}

.my-app-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 40px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  background-color: #007bff;
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.my-app-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;

  width: 26px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ddd;
}

nav ul li a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.connected-user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
}

.connected-user span {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
}
